* {
  font-family: "Calistoga", cursive;
  font-family: "Taviraj", serif;
  font-family: "Tinos", serif;
}
.footer {
  /* position: fixed;
  bottom: 0; */
  margin-top: 150px;
  width: 100%;
  font-size: 10px;
  color: #333;
}

.pdf-box {
  /* width: 190mm;
  size: A4;
  background-color: #ffffff;
  font-size: 14px; */
  width: 210mm; /* Full A4 width */
    height: 297mm; /* Full A4 height */
    margin: 0;
    padding: 10mm;
    page-break-inside: avoid;
    background-color: #fff;
    font-size: 12px;
}

.border-black {
  border: 1px solid black;
  /* border-bottom: none; */
  page-break-inside: avoid;
  margin-top: -1px;
}

.bd-t-black {
  border-top: 1px solid black;
}

.bd-r-black {
  border-right: 1px solid black;
}

.bd-l-black {
  border-left: 1px solid black;
}

.border-dotted {
  border-bottom: 1px dotted black !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
}

.bd-b-black {
  border-bottom: 1px solid black;
}

.bd-r-none {
  border-right: none;
}

.bd-l-none {
  border-left: none;
}

.bd-t-none {
  border-top: none;
}
.bd-b-none {
  border-bottom: none;
}

.dotted-border {
  border-bottom: 1px black dotted ; 
}


.index-note {
  margin-top: -2px;
  font-size: 8px;
  margin-right: 4px;
}

.d-flex {
  display: flex !important;
}

.fl-1 {
  flex: 1;
}

.fl-2 {
  flex: 2;
}

.d-flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.d-flex-start {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-ss {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.d-flex-ee {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
}

.d-flex-end {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-sb {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.fw-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}
.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 2px;
}
.mr-4 {
  margin-right: 4px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-14 {
  margin-left: 14px;
}

.ml-18 {
  margin-left: 18px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-6 {
  margin-bottom: 6px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-60 {
  margin-left: 60px;
}
.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pl-25 {
  padding-left: 25px !important;
}


.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.pl-3 {
  padding-left: 3px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-6 {
  padding-left: 6px;
}

.pr-1 {
  padding-right: 1px;
}

.pr-4 {
  padding-right: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pt-0 {
  padding-top: 0px;
}

.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.h-20 {
  height: 20px;
}

.w-50 {
  width: 50%;
}
.relative {
  position: relative;
}

/* ============================================================= */

.custom-checkbox {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  color: #333;
  margin-right: 2px;
  font-size: 9px;
  line-height: 0;
  font-weight: 600;
  height: 10px;
  min-width: 10px;
  width: 10px;
}

.circle-number {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-number-gray {
  border: 2px solid #808080 !important;
  color: #808080 !important;
}

.box-form-name {
  display: flex !important;
}

.represent-code {
  border: 1px solid black;
  width: 120px;
  height: 24px;
  display: flex !important;
  justify-content: flex-start;
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-45%);
  transform: translateX(8.5%);
  align-items: center;
  padding-left: 3px;
  margin-left: 12px;
}

.page-break {
  page-break-before: always;
}
